@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: rgb(236, 231, 220);
}
header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: center;
}
header ul {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding: 15px;
}
#one {
  height: 800px;
  background-color: rgb(236, 231, 220);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#one div h1 {
  text-align: center;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 500;
}
#one div h2 {
  text-align: center;
  position: relative;
  left: 132px;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
}
#one div p {
  position: relative;
  left: 100px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  width: 800px;
}
#one div p .negrita {
  font-weight: bold;
}
#one img {
  height: 700px;
}
#two {
  width: 100%;
  height: 700px;
  background-color: rgb(236, 231, 220);
  display: flex;
  justify-content: center;
  align-items: center;
}
#two img {
  padding: 5px;
  width: 50px;
  height: 500px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
#two img:hover {
  cursor: pointer;
  width: 500px;
  opacity: 1;
  filter: contrast(120%);
}
footer .derechos {
  background-color: burlywood;
}
footer .derechos p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
